@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TT Hoves";
    src: url('/public/TT\ Hoves\ Pro\ Trial\ Condensed\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}